/* Barra de navegacion*/

.navbar {
  padding: 1rem 2rem;
  background-color: #f0f8ff; /* Color azul suave */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

.navbar:hover {
  background-color: #e3eef7; /* Cambio de color en hover */
}

.navbar-brand img {
  transition: transform 0.3s ease; /* Transición suave para el logo */
}

.navbar-brand img:hover {
  transform: scale(1.1); /* Efecto de agrandamiento en hover */
}

/* Estilo de los ítems del navbar */
.navbar-nav .nav-item .nav-link {
  color: #333;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Efecto hover para enlaces */
.navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  background-color: #007bff; 
  border-radius: 5px; 
}

/* Estilo para el enlace activo */
.navbar-nav .nav-item .nav-link.active {
  color: #007bff;
  background-color: transparent;
  border-bottom: 2px solid #007bff; 
}

/* Para colapsar y distribuir el contenido en dispositivos móviles */
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Estilo del botón de hamburguesa (navbar-toggler) */
.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/* Estilos generales*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura{
  color: white;
  background-color: #1b1b32;
}

.seccion-clara{
  color:black;
  background-color: white;
}


.seccion-titulo{
  font-size: 2rem;
  padding:15px;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion{
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto{
  font-size: 1.2rem;
}


.btn-info{
  font-size: 1.1rem;
  margin: 20px;
}




.texto-negro{
  color: black;
}

.texto-blanco{
  color: white;
}




/*Seccion Hero*/
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal{
  padding: 3rem;
}

.hero-imagen-desarrollador{
  width:200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2{
  font-size: 1.5rem;
  color: #615151;
}

/*Sobre mi*/
.sobre-mi{
  height: 500px;
  padding: 10px;

}

.sobre-mi .contenedor{
  max-width: 600px;
  text-align: center;

}

/*Experiencia*/
.experiencia{
  padding: 40px 40px 60px 40px;
}

.experiencia .columna{
  padding: 20px;
  border:2px solid #0a0a23;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover{
  color: white;
  background-color: #1b1b32;
}

.experiencia i{
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%; 
}


.experiencia-titulo{
  font-size: 25px;
  font-weight: bold;
  margin: 10px    0;
}

.badges-contenedor{
  font-size: 20px;
  font-weight: bold;
  margin: 10px    0;
}

.badge{
  margin:5px;
}

/*Proyectos*/


.proyectos-recientes {
  padding: 20px;
}

.proyecto {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.proyecto img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay p {
  margin: 0;
  font-size: 18px;
  font-weight: bold; 
}

.btn-info {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .overlay p {
      font-size: 16px;
  }
}.proyectos-recientes {
  padding: 20px;
}

.proyecto {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.proyecto img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay p {
  margin: 0;
  font-size: 18px;
  font-weight: bold; 
}

.btn-info {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .overlay p {
      font-size: 16px;
  }
}






.proyectos-recientes {
  padding: 20px;
}

.proyecto {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 300px; 
  margin-bottom: 20px;
}

.proyecto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay p {
  margin: 0;
  font-size: 18px;
  font-weight: bold; 
}

.btn-info {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .overlay p {
      font-size: 16px;
  }
}



/*Articulos*/

.articulod{
  min-height: 500px;
  padding: 30px;
}

.articulos .card{
  width: 80%;
  max-width: 600px;
  margin: 20px;
}
.articulos .card-header{
  font-weight: bold;
}

/*Testimonios*/
.testimonios{
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel{
  max-width:800px;
}

.carousel-item{
  height: 500px;
}

.carousel-item .container{
  circle;
  height: 80%;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen{
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto{
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family:'Share Tech Mono', monospace;

}

.testimonio-info{
  font-weight: bold;
  text-align: center;
}

.testimonio-info p{
  margin-bottom:0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}


.testimonio-info .cargo {
  font-size: 0.9rem;
  color:#656060;
}


/*Contacto*/

.contacto .container{
  max-width: 1100px ;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo{
  margin-top: -5rem;
  background-color: rgb(13,110,253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white ;

}


.contacto .row{
  width: 100%;
  display: flex;
  align-items: center;
}


.contacto .descripcion{
  color: white;
  font-size: 1.2rem;
}

.contacto button{
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin:10px;
  border-radius:100px;
  transition: all 0.2s ease-in-out;

}


.contacto button:hover{
  background-color: white;
  color:black;
}




.contacto button i{
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;

}



.contacto button:hover i{
    color: black;

}

/* Pie de pagina (footer)*/

footer{
  min-height: 500px;
}

.footer-logo{
   height: 80px;
   width: 80px;
   margin:10px;
}

.footer-texto{
  font-size: 1,5rem;
  padding:20px;
  margin-bottom: 30px;
  font-family:'Quicksand', sans-serif;
}

.iconos-redes-sociales a{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius:50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
  background-color: white;
  border: 2px solid rbg(13, 110, 253);
}

.iconos-redes-sociales a:hover i{
  color: black;

}

.derechos-de-autor {
  font-size: 15px;
  color:#aeaeae;
  padding:20px;
}






.iconos-redes-sociales i{
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
.hoja-de-vida {
  background-color: #f9f9f9;
  border: 2px dashed #007bff;
  border-radius: 10px;
  padding: 30px;
  transition: background-color 0.3s;
}

.hoja-de-vida:hover {
  background-color: #e9ecef;
}

.section-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.download-button {
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 50px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.download-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 123, 255, 0.5);
}

/*Adaptable(Responsivo)*/
@media screen and(max-width: 400px){
  .overlay p {
     font-size:18px;
  }
  .overlay i{
    font-size: 40px;
  }
}





@media screen and (max-width: 767px) {
  .navbar-brand{
    display: none;
  }
}


@media sreen and (max-width: 800px){
    .testimonio-imagen{
      height: 120px;
      width: 120px;
    }

    .testimonio-texto{
      font-size:18px;
    }

}



@media screen and (min-width: 700px ){
  .hero-inferior-imagen{
    max-width: 600px;
  }

}